{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

</head>

<body>

    
<!-- Header START -->
 {% include "includes/headers.html" %}
<!-- Header END -->

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
      {% block content %}
      
      {% endblock content %}
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    
    <!-- Back to top -->
    <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
    
    
    <!-- Template Functions -->
    <script src="assets/js/functions.js"></script>
    
    </body>